body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

div.text-container {

    text-align: center;
    margin: 0 auto;
    width: 75%;    

}

.text-content{
    line-height: 1em;

    text-align: left;

}

.short-text {
    overflow: hidden;
    height: 2em;
}

.full-text{
    height: auto;
}

h1 {
    font-size: 24px;   
}

.show-more {
    padding: 10px 0;
    text-align: center;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
}
